.page-container {
    background-color: #ffcccb;

}

body {
    background-color: #ffcccb !important;
    padding: 20px
}


  

mt-3 {
    margin-top: 3rem;
  }
  
  h2 {
    font-size: 30px;
    margin-bottom: 2rem;
  }
  
  .form-group {
    margin-bottom: 3rem;
  }
  
  .form-control {
    margin-bottom: 2rem;
    padding: 1.5rem;
    font-size: 1.25rem;
  }
  
  .btn-primary {
    background-color: #ea0084 !important;
    border-color: #e8009b;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    padding: 1.5rem 3rem;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .alert {
    margin-top: 3rem;
    padding: 2rem;
  }
  
  .alert-info {
    background-color: #d1ecf1;
    border-color: #bee5eb;
    color: #0c5460;
    font-size: 1.25rem;
  }
  
  .alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
    font-size: 1.25rem;
  }
  
  .col {
    padding: 0 30px;
  }
  